@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
    --color-primary: #166938;
    --color-gold: #FEC313;
    --color-cream: #FFF9F6;

    --font-heading: "Markazi Text", sans-serif;
    --font-body: "Noto Sans", sans-serif;

    --breakpoint-container: 1140px;
}

body {
    font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
}